@import "./grid.css";
@import "./other.css";

* { transition: all 0.1s ease; }

body {
  display: flex;
  flex: 1 0 50%;
  background: white;
  background: red;

  color: white;
  --foo: black;
}

::placeholder {
  color: var(--foo);
}

body {
	font-family: monospace;
  margin: 1.5em;
  background: #000;
  font-size: 25px;
  color: hotpink;
	background: maroon;
}

a {
  color: white;
  font-weight: bold;
  background-color: brown;
}

a.skip-link { display: none; }
nav { display: none; }
