/* @import "./other.css"; */
@import "./grid.css";

/*
*/
body {
  display: flex;
  flex: 1 0 50%;
  background: white;
  background: red;

  color: white;
  --foo: black;
}

::placeholder {
  color: var(--foo);
}

body {
  background: red;
  background: green;
  background: yellow;
}
