/* @import "./other.css"; */
@import "./grid.css";

* { transition: all 0.1s ease; }

body {
  display: flex;
  flex: 1 0 50%;
  background: white;
  background: red;

  color: white;
  --foo: black;
}

::placeholder {
  color: var(--foo);
}

body {
  margin: 2em;
  background: #000;
  font-size: 20px;
  color: hotpink;
}

a {
  color: red;
}

a.skip-link { display: none; }
nav { display: none; }
