/* @import "./other.css"; */
@import "./grid.css";

* { transition: all 0.1s ease; }

/*
*/
body {
  display: flex;
  flex: 1 0 50%;
  background: white;
  background: red;

  color: white;
  --foo: black;
}

::placeholder {
  color: var(--foo);
}

body {
  background: green;
  font-size: 30px;
  color: #fff;
}

body, a {
  color: #fff;
}

a.skip-link { display: none; }
/* nav { display: none; } */
