/* This is contains styles for theme */
@import "css/base.css"; 
@import "css/btn.css"; 
@import "css/menu.css"; 

body {
  background: var(--light);
  color: var(--dark);
  font: var(--body-copy-font);
  letter-spacing: var(--body-copy-letter-spacing);
}

img, svg {
	display: block;
	width: 100%;
}

#content, 
#content p,
#content li {
  font: var(--body-copy-font);
  letter-spacing: var(--body-copy-letter-spacing);
}

.container {
  display: flex;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1366px;
}


.nav-primary {
  background: var(--light);
  height: 50px;
  position: relative;
  z-index: 20;
}
.nav-primary > .container {
  align-items: stretch;
}

.nav-primary ul.menu {
  background: var(--light);
}

.nav-primary__logo {
  flex: 0 0 auto;
  width: 170px;
}

.nav-primary__logo > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.nav-primary__logo > a img, 
.nav-primary__logo > a svg {
	width: 100%;
}

.nav-primary__menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.nav-primary__aside {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#content {
  position: relative;
  z-index: 10;
}

.content > h2,
.content > h3,
.content > h4,
.content > ul,
.content > ol,
.content > p {
  max-width: 1088px;
  margin: 0 auto;
}

a {
  color: var(--dark);
}

